@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.fundo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px

}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.midias-sociais {
    display: flex;
    align-content: center;
}

.midias-sociais a {
    text-decoration: none;
}

.midias-sociais img {
    width: 36px;
    margin-left: 3rem;
}

.midias-sociais a:first-child img {
    margin-left: 0;
}

.alternativo {
    margin-top: 1rem;
}

.alternativo span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

.alternativo span::before, main .alternativo span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}

.alternativo span::after {
    left: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: flex;
    flex-direction: column;
}

form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

form input {
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

.possible-login{
    margin: 1px;
}

form input[type="submit"] {
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
    border: none;
    border-radius: 20px;
    background: #330867;
    color: white;
    font-size: 1.1rem;
    transition: all 1s ease-in-out;
}

form input[type="submit"]:hover {
    background: #30cfd0;
}

/*@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternativo span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}